NODE_ENV=development
PORT=3000
# For MongoDB Atlas or local replica set:
MONGO_URI=mongodb://localhost:27017/khazrouni_giga?replicaSet=rs0
JWT_SECRET=super_secret_jwt_access_key_khazrouni_giga_2026_tunisia
JWT_REFRESH_SECRET=super_secret_jwt_refresh_key_khazrouni_giga_2026_tunisia
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGIN=*
ADMIN_USERNAME=admin_khazrouni
ADMIN_PASSWORD=AdminSecure@2026!
ADMIN_FULL_NAME=المدير العام
